@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

body {
  margin: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue',
    'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  white-space: pre-wrap;
}

a {
  text-decoration: none;
}

canvas {
  overflow: visible !important;
}
textarea {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.buttonHover {
  cursor: pointer;
}
.buttonHover:hover {
  opacity: 0.85;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out 0s 1 normal forwards;
}

@keyframes fadeInSlow {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInSlow {
  animation: fadeInSlow 1s ease-in-out 0s 1 normal forwards;
}

.blind {
  opacity: 0;
}

.show {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* 캐러셀 점 간격 */
.slick-dots li {
  margin: 0 0px;
  width: 10px !important;
}

/* 가로 스크롤바 삭제 */
div::-webkit-scrollbar {
  display: none;
}
