/* 폰트 설정 */
.pcTitle56KR {
  font-size: 56px !important;
  line-height: 64px !important;
  letter-spacing: -0.02em;
}

.pcTitle48KR {
  font-size: 48px !important;
  line-height: 54px !important;
  letter-spacing: -0.02em;
}

.pcTitle36KR {
  font-size: 36px !important;
  line-height: 42px !important;
  letter-spacing: -0.02em;
}

.pcTitle32KR {
  font-size: 32px !important;
  line-height: 40px !important;
  letter-spacing: -0.02em;
}

.pcTitle24KR {
  font-size: 24px !important;
  line-height: 34px !important;
  letter-spacing: -0.02em;
}

.pcBody24KR {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.02em;
}

.pcBody20KR {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.02em;
}

.pcBody18KR {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.02em;
}

.pcBody14KR {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.02em;
}

.pcPoint20KR {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.02em;
}

.pcPoint16KR {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.mobTitle24KR {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
}

.mobTitle19KR {
  font-size: 19px;
  line-height: 28px;
  letter-spacing: -0.02em;
}

.mobTitle16KR {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.mobTitle14KR {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.mobBody14KR {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.mobBody12KR {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.02em;
}

.mobBody10KR {
  font-size: 10px;
  line-height: 16px;
  letter-spacing: -0.02em;
}
